.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 10px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
p.submit {
    margin-left: 20px;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
table.form-table tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* tab style */
.tab-container {
  width: 99%;
  border: 1px solid #ddd;
  margin-top: 30px;
}
.tabs {
  display: flex;
  cursor: pointer;
  background-color: #f1f1f1;
}
.tab {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  background-color: #ddd;
  color: #333;
}
.tab.active {
  background-color: #333;
  color: #fff;
}
.tab-content {
  padding: 20px;
  display: none;
}
.tab-content.active {
  display: block;
}


/* api page style */

.wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wrap h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.api-key-form label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.api-key-form input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-primary, .button-secondary {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  background-color: #0073aa;
  color: #fff;
}

.button-primary:hover {
  background-color: #006799;
}

.button-secondary {
  background-color: #f5f5f5;
  color: #333;
}

.button-secondary:hover {
  background-color: #e0e0e0;
}
